:root {
  --font-family: "Playfair Display", sans-serif;
  --second-family: "Clicker Script", cursive;

  --coffee: #603809;
  --color-text: #707070;
  --color-subText: #1e1e1e;
  --white: #fff;
  --accent: #d4c17f;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
