.footer {
  background-image: url(../../assets/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 162px 0 278px;
}

.footer__info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin: 0;
}

.footer__info-text {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 22px;

  h2 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 54px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
  }
}

.footer__info-item {
  max-width: 332px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 24px;

  dt {
    font-size: 26px;
    position: relative;

    &:hover {
      color: #f9c06a;
    }
  }

  dd {
    font-weight: 400;
    font-size: 18px;
    &:hover {
      color: #f9c06a;
    }
  }
}

.social {
  display: flex;
  gap: 20px;
}

.social-link {
  img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
  .footer__info-list {
    gap: 30px;
    justify-content: center;
  }

  .footer__info-item {
    text-align: center;
    gap: 10px;
  }
}

@media (max-width: 1100px) {
  .footer {
    padding: 100px 0;
  }
  .footer__info-text {
    text-align: center;
    justify-content: center;
  }
  .social {
    justify-content: center;
  }
}

@media (min-width: 1100px) {
  .footer__info-text {
    flex-basis: 380px;
  }
}
