.coffee-style {
  text-align: center;
  padding-bottom: 20px;
}

.coffee-style .text-bottom {
  margin-bottom: 32px;
}

.coffee-style__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}

.coffee-style__item {
  max-width: 280px;
  margin: 0 auto;
  background: #fff9f1;
  border: 1px solid rgba(249, 192, 106, 0.42);
  position: relative;
}

.descriptions {
  padding: 14px 0px 42px;
  text-align: center;

  h4 {
    font-size: 22px;
    color: var(--coffee);
    margin-bottom: 6px;
  }
}

.description-sub {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-subText);
  margin-bottom: 6px;
}

.description-price {
  font-size: 18px;
  color: var(--coffee);
}

.coffee-style__btn {
  position: absolute;
  bottom: -20px;
  left: 25%;
}
